name: Python CI

on:
  push:
    branches: ['**']

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command: ['pip', 'lint', 'format']

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Setup uv
        id: setup-uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install the project
        if: steps.setup-uv.outputs.cache-hit == 'false'
        run: uv sync --all-extras --dev

      - name: Run check ${{ matrix.command }}
        run: make check-${{ matrix.command }}
